<main class="fr-fluid" role="main">
    {% block main %}
        {% include 'partials/common/_breadcrumb.html.twig' with {'title' : title} %}
        {% include 'partials/glossary/_glossary.html.twig' %}
        {% include 'partials/common/_search-footer.html.twig' %}
    {% endblock %}
</main>