<main class="fr-fluid" role="main">
    {% block main %}
        {% include 'partials/pageswithoutimages/_bannerpage.html.twig' %}
        {% block page %}
            {% include 'partials/pageswithoutimages/_pages.html.twig' %}
        {% endblock %}
        {% include 'partials/common/_search-footer.html.twig' %}
    {% endblock %}
</main>