:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --white-050: hsl(192, 15%, 99%);
  --orange2-500: hsl(24, 100%, 41%);
  --grey2-200: hsl(184, 9%, 85%);
  --grey4-500: hsl(210, 29%, 29%);
  --blue2-300: hsl(204, 70%, 72%);
  --blue2-500: hsl(204, 70%, 53%);
  --green2-300: hsl(168, 42%, 61%);
  --green2-500: hsl(168, 76%, 36%);
  --red1-300: hsl(6, 54%, 68%);
  --red1-500: hsl(6, 63%, 46%);
  --green3-300: hsl(145, 45%, 65%);
  --green3-500: hsl(145, 63%, 42%);

  --box-shadow-btn: 0 4px 4px -2px rgba(0, 0, 0, 0.6);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: #333;
  font-family: var(--font-family);
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

.container {
  width: min(100% - 4rem, 1200px);
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}

.split {
  display: flex;
  gap: 2rem;
}

.split > * {
  flex: 1 1 100%;
}

.split__0 {
  flex: 0 0 auto;
}

.card-interact img {
  width: 100%;
  height: auto;
}

.card-interact {
  position: relative;
}

.hide-point .card-interact__point {
  opacity: 0;
}

.card-interact__point {
  --info-bg:hsl(6, 63%, 46%);
  --info-tooltipBg: white;
  --info-tooltipCl: black;
  --info-size: 7px;
  position: absolute;
  width: var(--info-size);
  height: var(--info-size);
  border-radius: 50%;
  background-color: var(--info-bg);
  opacity: 1;
  top: calc(var(--top, 0) * var(--height, 0) * 1px);
  left: calc(var(--left, 0) * var(--width, 0) * 1px);
  cursor: pointer;
  transition: opacity ease-in-out 330ms;
  transform: translate(-50%, -50%);
}

.card-interact__point__tootltip {
  visibility: hidden;
  position: absolute;
  z-index: 500;
  top: -70px;
  width: max-content;
  padding: 5px 1rem;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--info-tooltipBg);
  box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.32), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.card-interact__point__tootltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--info-tooltipBg) transparent transparent transparent;
}

.card-interact__point:hover .card-interact__point__tootltip {
  visibility: visible;
}

.card-interact__point.atelier {
  --info-bg:hsl(240, 86%, 74%);
  --info-size: 12px;
}

.card-interact__point.etablis {
  --info-bg:hsl(171, 51%, 56%);
  --info-size: 12px;
}

.card-interact__point:hover::after {
  position: absolute;
  content: attr(data-title);
  left: 0;
  top: -42px;
  padding: 0.5rem .8rem;
  background-color: white;
  color: black;
}

.point-moving {
  pointer-events: none;
  animation: fadeinout 0.6s ease-in alternate infinite;
}

@keyframes fadeinout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.point-modify {
  animation: clignote 1s linear infinite;
}
@keyframes clignote {  
  50% { opacity: 0; }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
  color: #FFF;
  background-color: #f0b433;
  border-color: #d6a12d;
}

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  color: #FFF;
  background-color: #f73535;
  border-color: #e93232;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-warning:focus,
button.button-warning:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus {
  color: #FFF;
  background-color: #daa32d;
  border-color: #c09028;
}

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  color: #FFF;
  background-color: #da2d2d;
  border-color: #a32323;
}

.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: #FFF;
  background-color: #73C6B6;
  border-color: #73C6B6;
}

.button-secondary,
input[type="button"].button-secondary:focus {
  color: #FFF;
  background-color: #52BE80;
  border-color: #52BE80;
}

.button-hidden {
  display: none;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
