<div class="d-flex justify-content-md-end justify-content-start fr-mt-1w fr-mb-4w">
    {# <a href="#" onclick="window.print()" class="text-decoration-none shadow-none txt-color fr-px-md-3v fr-px-0"><span class="fr-fi--sm fr-fi-download-line fr-px-md-1w fr-pl-0 fr-pr-1w" aria-hidden="true"></span>{{'front.guide.download'|trans}}</a> #}
    <a href="#" class="text-decoration-none print-input shadow-none txt-color fr-px-3v"><span class="fr-fi--sm fr-fi-printer-fill fr-px-1w" aria-hidden="true"></span>{{'front.guide.print'|trans}}</a>
</div>